<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Amado - Furniture Ecommerce Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="/content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/content/css/core-style.css">
    <link rel="stylesheet" href="/Content/style.css">

</head>
<body>

    @RenderBody()
    <!-- ##### Newsletter Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <section class="newsletter-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <!-- Newsletter Text -->
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="newsletter-text mb-100">
                        <h2> <span style="font-family:Arial">Vibrakim Makina Kimya San. Ve Tic. Ltd. Şti.</span></h2>
                        <p style="font-family:Arial">
                            Yiğitler Mah. Otosansit Sanayi Sitesi C9 Sk.
                            18. Blok No.65 Yıldırım / BURSA
                            Tel: +90 224 342 44 64 Fax: +90 224 342 44 94
                            Web: www.vibrakim.com
                        </p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-lg-6 col-xl-5" style="font-family:Arial">

                    <div class="newsletter-form mb-100">
                        <form action="#" method="post">
                            <input type="email" name="email" class="nl-email" placeholder=" E-mail">
                            <input type="submit" value="Üye Ol">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img src="/content/img//core-img/logo.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        @*<p class="copywrite">*@
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by @*<a href="" target="_blank">Colorlib</a>*@
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="@Url.Action("index","Home")">ANA SAYFA</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("index","AlisVeris")">ALIŞVERİŞ</a>
                                        </li>
                                     
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("sepetim","Home")">SEPETİM</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("odemesayfasi","Home")">ÖDEME SAYFASI</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/content/js//jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/content/js//popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/content/js//bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/content/js//plugins.js"></script>
    <!-- Active js -->
    <script src="/content/js//active.js"></script>
    <link href="~/Content/owl/owl.carousel.min.css" rel="stylesheet" />
    <script src="~/Content/owl/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 1
            });
        });
    </script>
</body>

</html>

